@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --azul: #031150;
    --amarelo: rgb(255, 187, 0);    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--azul);
    font-family: 'Lato', 'Times New Roman', Times, serif;
    color: white;
}

/* GLOBAL */

.container {
    margin-left: 2rem;
}

/* HEADER */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;    
    color: var(--amarelo);   
}

header .container h3 {
    font-size: 2rem;
    color: var(--amarelo);   
}

header nav {
    margin-left: 2.5rem;
}

header nav a {
    font-size: 1rem;
    margin-right: 1.2rem;
    color: var(--amarelo);
    text-decoration: none;
    transition: 0.3s;
}

header nav a:hover {
    color: rgb(255, 145, 0);
}

header .container .menu i {
    margin-right: 1.5rem;
}

/* BANNER */

.banner {
    height: 25rem;    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url('/images/vikings-folder.jpg');
    background-size: cover;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}
    
.banner .title {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.banner .description {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.banner .container {
    width: 70%;
}

.buttons a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;    
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.buttons a:hover {
    background-color: white;    
    color: var(--azul);
    font-weight: 700;
}

.buttons i {
    margin-right: 0.5rem;
}

.movie-card {
    height: 100%;
    width: 100%;
    display: block;
}

/* MOVIES CAROUSEL */

.movies-carousel {
    margin-top: 0.5rem;
}

.movies-carousel h1 {
    margin: 1rem 0;
    color: var(--amarelo);
}
